<div class="welcome-screen fade-out">
	<h1 class="welcome-title">Olá <%= current_user.name %><%= icon('spinner', class: 'ml-3 fa-spin') %></h1> 
</div>

<main class="main-center">
	<section class="center-card">
		<h4>
		  Minha Carteira
		</h4>

		<br>

		<table class="wallet-table">
			<thead class="thead-inverse">
				<tr>
					<th class="col-7">Moeda</th>
					<th class="col-4">Quantidade</th>
					<th class="col-1">Vender</th>
				</tr>
			</thead>

			<tbody>
				<% @wallet.each do |coin_id, total| %>
					<tr>
						<td class="small-uppercase"><%= Coin.find(coin_id).name %></td>
						<td><%= total %></td>
						<td><%= link_to icon('btc'), transactions_sell_path(coin_id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<%= link_to 'Comprar moedas', transactions_new_path, class: "btn btn-BB" %>
	</section>
</main>