<section>
	<h4>
	  Bem-vindo(a)
	  <%= current_user.name %>
	</h4>

	<br>


	<% @wallet.each do |coin, total| %>
		<%= coin %>
		<%= total %>
		<%= link_to "Vender", transactions_sell_path(coin, total) %>
		<br>
	<% end %>

	<%= link_to 'Comprar moedas', transactions_new_path %>
</section>