<section id="section-registration" class="d-flex justify-content-center align-items-center">
  <div class="sign-up">
    <h3>Acessar conta</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: "sign-label" %><br />
        <%= f.email_field :email, class: "sign-input" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "sign-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "sign-input" %>
      </div>

      <div class="actions d-flex justify-content-end mt-2">
        <%= f.submit "Log in", class: "btn btn-BB" %>
      </div>
    <% end %>

  </div>
</section>