<%= form_for(@transaction, class: "row") do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-3">
    <%= form.label :moeda %>
    <%= form.select :coin_id, options_for_select(@coins.map {|coin| [coin.name, coin.id, {'data-value' => coin.price}] }), {prompt: true}, {id: 'coin-value', class: "custom-select"} %>
  </div>

  <div  class="field col-2">
    <label>Preço</label>
    <p id="coin-price">-</p>
  </div>

  <div class="field col-2">
    <%= form.label :quantidade %>
    <%= form.number_field :quantity, step: 0.01, min: 0, id: "transaction-quantity"  %>
  </div>

  <div class="field col-2">
    <label>Total</label>
    <p id="transaction-value">-</p>
  </div>

  <div class="actions d-flex align-items-center ml-3">
    <%= form.submit "Comprar", id: "submit-form", class: "btn btn-BB" %>
  </div>
<% end %>
