<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coin_id %>
    <%= collection_select('', :coin_id, @coins, :id, :name, prompt: true) %>
    <p class="chosen-coin-price display-price"></p>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :price, id: :transaction_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
