<%= form_with(model: transaction, local: true, remote: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coin_id %>
    <%= form.select :coin_id, options_for_select(@coins.map {|coin| [coin.name, coin.name, {'data-value' => coin.price}] }), {prompt: true}, {id: 'coin-value'} %>
    <p id="coin-price" class=""></p>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, :step => 0.01, id: "transaction-quantity"  %>
  </div>

  <div class="field">
    <p id="transaction-value"></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
