<%= form_for(@transaction, url: transactions_subtract_path) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coin_id, @coin.name %>
    <%= form.hidden_field :coin_id, value: @coin.id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, :step => 0.01, max: @total %>
  </div>

  <div class="actions">
    <%= form.submit id: "submit-form" %>
  </div>
<% end %>
